.body {
    background-color: rgb(4, 4, 50);
    color: rgb(251, 244, 234);
}
 
.main {
    display: flex;
    flex-direction: row;
    line-height: 2em;
    justify-content: space-around;
}

.main-fieldset {
    max-width: 50%;
    margin: 20px;
    padding-top: 20px; 
}

.aside-fieldset {
    width: 50%;
    margin: 20px;
}

img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.form {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.form-input {
    background-color: rgb(4, 4, 50);
    border: rgb(120, 120, 232) dotted 2px;
    color: rgb(251, 244, 234);
}

.form-input_comment {
    height: 150px;
}

.btn {
    margin-top: 18px;
    background-color: rgb(120, 120, 232);
}

.legend {
    color: rgb(120, 120, 232);
    font-weight: 600;
}

.aside {
    height: 10vh;
    color: rgb(25, 25, 111);
    text-align: center;
}

#nickMessage, #uploadMessage {
        font-size: x-small;
}

